.container{
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    
}

.title{
    font-weight: 500;
    margin: 0;
}

.content{
    margin: 0;
    font-weight: 300;
    font-size: 0.9rem;
}


@media (max-width:767px) {
    .content{
        display: none;
    }
    .container{
        align-items: center;
        
    }
    .title{
        margin-bottom: 0.5rem;
    }
}