.container{
    display: none;
}

.bar{
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #107AC7
}


@media (max-width:1055px) {
    .container{
        display: flex;
        align-items: center;
        row-gap: 0.3rem;
        flex-direction: column;
        justify-content: center;
    }

   
   
}