.container{
    width:1140px;
    margin: 0 auto;
    max-width: 100%;
}

.title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

@media (max-width:1200px) {
    .container{
        width: 900px;
    }
}